<!DOCTYPE html>
<html lang="es">
<body>
<!--Main Navigation-->
<header>
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="/" class="float-start">
            <img src="https://cdn-icons-png.flaticon.com/256/13410/13410905.png" height="35" />
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-4 col-sm-6 col-6">
          <div class="d-flex align-items-center gap-1 flex-wrap">
            <a href="login" class="btn btn-outline-dark btn-sm d-flex align-items-center"><i class="fas fa-user-alt me-2"></i><span>Log in</span></a>
            <a href="register" class="btn btn-outline-secondary btn-sm d-flex align-items-center"><i class="fas fa-user-plus me-2"></i><span>Register</span> </a>
            <a href="publish" class="btn btn-primary btn-sm d-flex align-items-center"><i class="fas fa-tag me-2"></i><span>Sell</span></a>
            <a href="my_listings" class="btn btn-outline-primary btn-sm d-flex align-items-center"><i class="fas fa-box me-2"></i><span>My items</span> </a>
            <a href="administrator" class="btn btn-dark btn-sm d-flex align-items-center"><i class="fas fa-user-shield me-2"></i><span>admin</span> </a>
            <a href="my_deals" class="btn btn-outline-secondary btn-sm d-flex align-items-center"><i class="fas fa-shopping-cart me-2"></i><span>My deals</span> </a>  
          </div>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
       <div class="col-lg-5 col-md-12 col-12">
          <form action="/search" method="get">
            <div class="input-group float-center" style="max-width: 500px;">
              
              <input 
                type="search" 
                name="keyword" 
                class="form-control" 
                placeholder="Search" 
              />
              
              <button type="submit" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button>

            </div>
          </form>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f5f5;">
    <!-- Container wrapper -->
    <div class="container justify-content-center justify-content-md-between">
      <!-- Toggle button -->
      <button
              class="navbar-toggler border text-dark py-2"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarLeftAlignExample"
              aria-controls="navbarLeftAlignExample"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/search?category=Clothing">Clothing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/search?category=Electronics">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/search?category=Furniture">Furniture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/search?category=Accessories">Accessories</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark mb-0"
              href="/search?category=Others"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
              Others
            </a>

            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action xddd</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Left links -->
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>